* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #363636;
}
.no-scroll {
  overflow: hidden;
}
.header {
  padding-left: 34px;
  height: 104px;
  display: flex;
  align-items: center;

  border-bottom: 1px solid #d4d4d4;
}
.m-menu {
  display: flex;
  height: 100%;
  align-items: center;
  flex-grow: 1;
}
.search-input {
  background-image: url(../img/search-icon.svg);
  background-repeat: no-repeat;
  border: none;
  padding-left: 72px;
  font-size: 18px;
  line-height: 21px;
  color: #a5a5a5;
  background-position: 34px;
  margin-left: 34px;
  height: 100%;
  border-left: 1px solid #d4d4d4;
}
.navigation {
  margin-right: 44px;
  margin-left: auto;
}
.navigation-link {
  text-decoration: none;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  margin-right: 18px;
  color: #363636;
}
.button-group {
  height: 100%;
}
.button {
  height: 100%;
  cursor: pointer;
}
.sign-up {
  color: #5671f6;
  border: none;
  background-color: #fff;
  font-size: 18px;
  line-height: 21px;
  padding-left: 34px;
  padding-right: 34px;
  border-left: 1px solid #d4d4d4;
}
.log-in {
  background: #5671f6;
  color: #ffffff;
  font-size: 18px;
  line-height: 21px;
  border: none;
  padding-left: 50px;
  padding-right: 50px;
}
.mobile-buttons {
  display: none;
}
.m-menu-button {
  padding: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.menu-line {
  display: block;
  height: 2px;
  background-color: black;
  width: 16px;
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: 10px;
}
.search-button {
  background-color: transparent;
  border: none;
  padding: 5px;
  cursor: pointer;
}
.container {
  max-width: 1130px;
  margin: auto;
}
.film {
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 1px solid #d4d4d4;
}
.film-wrapper {
  display: flex;
}
.film-trailer {
  display: flex;
  flex-direction: column;
  margin-right: 60px;
}
.poster {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 358px;
}
.trailer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #d4d4d4;
  border-radius: 0px 0px 5px 5px;
  padding-top: 25px;
  padding-bottom: 25px;
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #5671f6;
  text-decoration: none;
}
.trailer-button-icon {
  margin-right: 14px;
}
.film-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #363636;
  margin-top: 0;
  margin-bottom: 16px;
}
.film-subtitle {
  font-size: 18px;
  line-height: 21px;
  color: #a5a5a5;
  /* margin-bottom: 32px; */
}
.film-description {
  font-size: 14px;
  line-height: 21px;
  margin-top: 32px;
  margin-bottom: 50px;
  max-width: 514px;
  color: #000000;
}
.about-film {
  display: flex;
  margin-bottom: 50px;
}
.about-text {
  display: block;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 19px;
}
.about-text-bold {
  display: inline-block;
  width: 100px;
  vertical-align: top;
  font-weight: bold;
}

.left-side {
  margin-right: 40px;
}
.rating {
  display: flex;
  align-items: center;
}
.rating-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: #5671f6;
  border: 1px solid #5671f6;
  border-radius: 10px;
  margin-right: 28px;
}
.rating-title {
  margin-top: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 12px;
}
.rating-text {
  display: block;
  margin-bottom: 7px;
  font-size: 16px;
  line-height: 19px;
}
.rating-text-bold {
  font-weight: bold;
}
.cast {
  margin-top: 70px;
  margin-bottom: 100px;
}
.tabs {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}
.section-title {
  font-size: 24px;
  line-height: 28px;
  color: #a5a5a5;
  font-weight: normal;
  margin-right: 30px;
  cursor: pointer;
}
.section-title-active {
  font-weight: 900;
  color: #363636;
}
.tabs-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  display: flex;
  align-items: center;
  flex-basis: 25%;
  margin-bottom: 35px;
}
.hide {
  display: none;
}
.card-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}
.section-news-title {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 65px;
}
.name {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #5671f6;
  margin-top: 0;
  margin-bottom: 6px;
}
.en-name {
  font-size: 16px;
  line-height: 19px;
  color: #a5a5a5;
}
.news {
  background: #f3f3f3;
  padding-top: 70px;
  padding-bottom: 100px;
}
.news-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.news-card {
  flex-basis: 23%;
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
}
.news-date {
  color: #000000;
  font-size: 14px;
  line-height: 16px;
}
.news-title {
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin-top: 14px;
}
@media (max-width: 1210px) {
  .container {
    max-width: 960px;
  }
  .header {
    height: 90px;
    padding-left: 20px;
  }
  .search-input {
    margin-right: auto;
    background-position: 15px;
    padding-left: 40px;
  }
  .card-image {
    width: 70px;
    height: 70px;
  }
  .navigation {
    margin-right: 15px;
  }
  .navigation-link {
    font-size: 16px;
    margin-right: 10px;
  }
  .sign-up {
    padding-left: 15px;
    padding-right: 15px;
  }
  .log-in {
    padding-left: 35px;
    padding-right: 35px;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 760px;
  }
  .navigation {
    display: none;
  }
  .film-title {
    font-size: 24px;
    line-height: 25px;
  }
  .film-subtitle {
    font-size: 20px;
  }
  .film-description {
    margin-top: 15px;
    margin-bottom: 30px;
  }
  .about-film {
    margin-bottom: 15px;
  }
  .about-text-bold {
    display: block;
  }
  .card-image {
    width: 100px;
    height: 100px;
  }
  .card {
    flex-basis: 50%;
  }
  .news-card {
    flex-basis: 48%;
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .header {
    height: 70px;
    padding-right: 2.5%;
    padding-left: 2.5%;
  }
  .film {
    padding-top: 40px;
    padding-bottom: 60px;
  }
  .container {
    max-width: 560px;
  }
  .film-wrapper {
    flex-wrap: wrap;
  }
  .film-text {
    order: -1;
    margin-bottom: 30px;
  }
  .logo {
    height: 50%;
  }

  .cast {
    padding-top: 50px;
    padding-bottom: 70px;
  }
  .news {
    padding-top: 50px;
    padding-bottom: 70px;
  }

  .mobile-buttons {
    display: block;
    margin-left: auto;
  }
  .m-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    position: fixed;
    left: 0;
    top: 70px;
    right: 0;
    bottom: 0;
    background: #5671f6;
  }
  .active {
    display: flex;
  }
  .button-group {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-bottom: 90px;
  }
  .navigation-link {
    color: #ffffff;
    margin-bottom: 18px;
    margin-right: 0;
  }
  .navigation-link:last-child {
    margin-bottom: 0;
  }
  .search-input {
    width: 260px;
    height: 50px;
    border-radius: 5px;
    margin-top: 70px;
    margin-bottom: 40px;
    margin-left: 0;
    margin-right: 0;
  }
  .sign-up {
    border-left: none;
    padding: 0;
    background-color: transparent;
    color: #ffffff;
    margin-bottom: 30px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 95%;
  }
  .film-trailer,
  .poster {
    width: 100%;
  }
  .film-text {
    order: 1;
    margin-bottom: 30px;
  }
  .film-title {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 12px;
    margin-top: 20px;
  }
  .film-subtitle {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 26px;
  }
  .film-description {
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 40px;
  }
  .about-film {
    flex-wrap: wrap;
  }
  .about-text {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 15px;
  }
  .card {
    flex-basis: 100%;
    margin-bottom: 20px;
  }
  .card-image {
    width: 60px;
    height: 60px;
  }
  .section-title {
    font-size: 18px;
    line-height: 21px;
    margin-right: 20px;
  }
  .tabs {
    margin-bottom: 30px;
  }
  .cast {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 10px;
    padding-top: 15px;
  }
  .film {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .news-card {
    flex-basis: 80%;
    margin-bottom: 20px;
  }
  .rating-title {
    font-size: 14px;
  }
  .rating-text {
    font-size: 14px;
  }
  .film-trailer {
    margin-right: 5px;
  }
  .news {
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .section-title {
    margin-bottom: 20px;
  }
}
